<div class="card flex flex-column" (click)="display()">
  <img [src]= getFullImageUrl(book!.imagePath) alt="book cover" class="flex-grow-1 flex-shrink-1"/>
  <p class="book-title"> {{book!.name}} </p>

  <p [ngClass]="{ 'borrowed': book!.currently_borrowed,'available': !book!.currently_borrowed}">
      @if (book!.currently_borrowed == true)
      {
        Borrowed
      }
      @else
      {
        Available
      }
  </p>
</div>
<app-book-details [visible]="visible" [selectedBook]="book" (hideDialog)="hide()"></app-book-details>





