section
{
  background-color: var(--white);

  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

aside
{
  margin: 4px;
}

.heading
{
  font-size: 1.5rem;
}

img
{
  height: 7rem;
  width: 5rem;
  margin: 5px;
}

.more
{
  color:var(--title);
  padding: 0;
}

.more:hover
{
  cursor: pointer;
}

.d:hover
{
  border-bottom: 1px solid var(--title);
}

.d
{
  padding: 2px;
}

label
{
  display: inline-block;
  margin: 4px;
}
