<p class="title">Borrow History</p>
@if (!loading)
{
  <main class="flex flex-wrap justify-content-between">
    @for (book of books.data; track $index)
    {
      <app-borrow-card [book]="book" style="width:48%;"></app-borrow-card>
    }
  </main>

  <br/>
  @if(books.data.length !=0)
  {
    <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="books.pageSize"
    [totalRecords]="books.count"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [style]="{position:'absolute',bottom:0, width:'100%'}"/>
  }
  @else 
  {
    <p style="text-align: center;">No Borrow History.</p>
  }
}

@else
{
  <p class="loading"><i class="pi pi-spin pi-spinner"></i></p>
}

