.image
{
  position: relative;
  padding: 0;
  height: calc(100vh - 4rem);
  width: 100%;

}
.image img
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100vh - 4rem);
}

.p
{
  position: absolute;
  z-index: 5;
  top: 0;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  width: 50%;
  left:0.5rem;
}
.o
{
  z-index: 4;
  background-color:rgba($color: #000000, $alpha: 0.5);
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.more
{
  text-align: center;
}

a
{
  color:#a2a0a0;
  font-weight: 600;
}
