section
{
  border: 1px solid var(--background);
  padding: 1.5rem;
  position: relative;
  border-radius: 5px;
}

.header
{
  position: absolute;
  top:-0.6rem;
  left: 0.75rem;
  background-color: var(--white);
  padding:2px ;
  color:var(--label)
}

label
{
  color:var(--label)
}

aside
{
  width: 50%;
}

.value
{
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 6px;
}
