
<section class="flex flex-row gap-2">
  <span class="header">Personal Information</span>
  <aside>
    <label>Gender</label><br/>
    <span class="value">{{user.gender}}</span>  <br/>
    <label>Date of Birth</label><br/>
    <span class="value">{{user.dateOfBirth| date:'MMMM,dd,YYYY'}}</span> <br/>
  </aside>

  <aside>
    <label>City</label><br/>
    <span class="value">{{user.city}}</span> <br/>
    <label>Phone Number</label><br/>
    <span class="value">{{user.phoneNumber}}</span> <br/>
  </aside>
</section>
