section
{
  background-color: var(--white);

  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

aside
{
  margin: 4px;
}

.heading
{
  font-size: 1.5rem;
}

img
{
  height: 8rem;
  width: 5rem;
  margin: 5px;
}
