<p-dialog header="Book Details" [modal]="true" [(visible)]="visible" [style]="{ width: 'fit-content' }" (onHide)="hideDialog()" >
  <section *ngIf="selectedBook != undefined" class="flex">

    <p class="flex flex-column justify-content-evenly mr-3">
      <span class="label">Book Name: </span>
      <span class="label">Genre: </span>
      <span class="label">Author Name: </span>
    </p>
    <p class="flex flex-column">
       <span class="value">{{selectedBook!.name}}</span>
       <span class="value">{{selectedBook!.category_name}}</span>
       <span class="value">{{selectedBook!.author_name}}</span>
    </p>
    </section>
</p-dialog>

