nav
{
  background-color: var(--white);
  width: 100%;
  border-top: 2px solid var(--title);
  border-bottom: 2px solid var(--title);
  margin: 4px 0px;
  padding: 3px;
}


:host ::ng-deep .p-checkbox-box {
  display: none;
}

.item
{
  margin: 0.5rem;
}
